@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;

}

body{
    display: flex;
    background-color: hsl(204, 43%, 93%);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 20px;
}

main{
    width: 800px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 2px rgba(0,0, 0, 0.1);
    overflow: hidden;
}

section{
    padding: 35px;
}

section>p{
    font-size: 15px;
    opacity: 0.9;
}

.cyan-para{
    color: hsl(179, 62%, 43%);
}

.light-green-para{
    color: hsl(71, 73%, 54%);
}

.grey-para{
    color: hsl(218, 22%, 67%);
}

.row{
    display: flex;
    border-radius: 10px;
}

.row > section{
    flex: 1;
    color: white;
}
.cyan{
    background-color:hsl(179, 62%, 43%);
}


.faded{
    color: hsl(179, 43%, 75%);
    display: flex;
    align-items: center;

}

.big{
    font-size: 30px;
    font-weight: 700;
    color: white;
    opacity: 1;
    margin-right: 10px;
}

button{
    display: block;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: hsl(71, 73%, 54%);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0 7px 5px rgba(0,0, 0, 0.1);
}

.greyish-blue{
    background-color: hsl(180, 54%, 49%);
}

.list-content{
    padding: 0;
    list-style: none;
    line-height: 1.4;
    font-size: 13px;
    opacity: 0.7;
    line-height: 1.5;
}

@media screen and (max-width: 600px){
    .row{
        flex-direction: column-reverse;
    }
}