@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    color: #ffff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.container>div{
    flex: 1;
    max-width: 550px;
    padding: 0 20px;
}

h1{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 15px;
}

.lighter{
    font-weight: 400;
    opacity: 0.9;

}

.box{
    background-color: #ffff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;

}

.blue-box{
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
    font-weight: 400;
}

.strong{
    font-weight: 700;
    color: white;
}

.form-control{
    margin-bottom: 20px;
    position: relative;
}

.error-icon{
    display:none;
    position: absolute;
    right: 30px;
    top: 13px;
}

.error-text{
    display: none;
    color: hsl(0, 100%, 74%);
    text-align: right;
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
}


input{
    display: block;
    width: 100%;
    padding: 15px 25px;
    border: 1.4px solid hsl(249, 26%, 89%) ;
    border-radius: 5px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

input::placeholder{
    color: hsl(249, 10%, 26%);
    opacity: 0.7;
}

input:focus{
    border: 1.5px solid hsl(248, 32%, 49%);
    outline: none;
}

.error-border{
    border: 2.2px solid hsl(0, 100%, 74%) ;
}

button{
    display: block;
    width: 100%;
    padding: 15px 25px;
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    border: 1px solid hsl(154, 59%, 45%);
    box-shadow:inset 0 -3px 3px 0px rgba(50, 50, 50, 0.41);
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
}

button:active {
	box-shadow: 0 0 hsl(154, 59%, 45%);
	transform: translateY(2px);
}

.tnc-intro{
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    font-weight: 700;
    margin: 20px;
}

.tnc{
    color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 900px) {
	h1 {
        text-align: center;
        font-size: 2rem;
        margin: 100px 0 50px;
	}

	.lighter {
        text-align: center;

        margin-bottom: 50px;
    }
    
    .blue-box p{
        padding: 0 50px;
    }

	.container {
        margin: 0 20px;
		flex-direction: column;
    }
    
    .container>div{
        padding: 0 20px;
    }
    .tnc-intro{
        text-align: left;
    }
    
}
